<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminConfirmDeleteUserController</servlet-name>
        <servlet-class>uts.isd.controller.AdminConfirmDeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPayment</servlet-name>
        <servlet-class>uts.isd.controller.AddPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingServlet</servlet-name>
        <servlet-class>uts.isd.controller.ShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessServlet</servlet-name>
        <servlet-class>uts.isd.controller.AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingController</servlet-name>
        <servlet-class>uts.isd.controller.ShippingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShippingController</servlet-name>
        <servlet-class>uts.isd.controller.DeleteShippingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentMethodServlet</servlet-name>
        <servlet-class>uts.isd.controller.PaymentMethodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.AddPaymentMethodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removePaymentMethod</servlet-name>
        <servlet-class>uts.isd.controller.removePaymentMethod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPaymentMethodServlet</servlet-name>
        <servlet-class>uts.isd.controller.AddPaymentMethodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePaymentMethod</servlet-name>
        <servlet-class>uts.isd.controller.RemovePaymentMethod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentSearchController</servlet-name>
        <servlet-class>uts.isd.controller.PaymentSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipmentServlet</servlet-name>
        <servlet-class>uts.isd.controller.ShipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmUpdate</servlet-name>
        <servlet-class>uts.isd.controller.ConfirmUpdate</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>UpdatePayment</servlet-name>
        <servlet-class>uts.isd.controller.UpdatePayment</servlet-class>
    </servlet>   
    
    <servlet>
        <servlet-name>AddCartServlet</servlet-name>
        <servlet-class>uts.isd.controller.AddCartServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AdminConfirmDeleteUserController</servlet-name>
        <url-pattern>/AdminConfirmDeleteUserController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminDeleteUserController</servlet-name>
        <servlet-class>uts.isd.controller.AdminDeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDeleteUserController</servlet-name>
        <url-pattern>/AdminDeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminEditUserController</servlet-name>
        <servlet-class>uts.isd.controller.AdminEditUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminEditUserController</servlet-name>
        <url-pattern>/AdminEditUserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminUpdateUserController</servlet-name>
        <servlet-class>uts.isd.controller.AdminUpdateUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUpdateUserController</servlet-name>
        <url-pattern>/AdminUpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>uts.isd.controller.CreateUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/CreateUserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>uts.isd.controller.DeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>uts.isd.controller.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>uts.isd.controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>uts.isd.controller.UserListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/UserListController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserSearchController</servlet-name>
        <servlet-class>uts.isd.controller.UserSearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSearchController</servlet-name>
        <url-pattern>/UserSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPayment</servlet-name>
        <url-pattern>/AddPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingServlet</servlet-name>
        <url-pattern>/ShippingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingController</servlet-name>
        <url-pattern>/ShippingController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderHistoryController</servlet-name>
        <servlet-class>uts.isd.controller.OrderHistoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderHistoryController</servlet-name>
        <url-pattern>/OrderHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentMethodServlet</servlet-name>
        <url-pattern>/PaymentMethodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPaymentServlet</servlet-name>
        <url-pattern>/AddPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removePaymentMethod</servlet-name>
        <url-pattern>/removePaymentMethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPaymentMethodServlet</servlet-name>
        <url-pattern>/AddPaymentMethodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePaymentMethod</servlet-name>
        <url-pattern>/RemovePaymentMethod</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateOrderController</servlet-name>
        <servlet-class>uts.isd.controller.UpdateOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOrderController</servlet-name>
        <url-pattern>/UpdateOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteOrderController</servlet-name>
        <servlet-class>uts.isd.controller.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteOrderController</servlet-name>
        <url-pattern>/DeleteOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateOrderItemController</servlet-name>
        <servlet-class>uts.isd.controller.UpdateOrderItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOrderItemController</servlet-name>
        <url-pattern>/UpdateOrderItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PayOrderController</servlet-name>
        <servlet-class>uts.isd.controller.PayOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PayOrderController</servlet-name>
        <url-pattern>/PayOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteOrderItemController</servlet-name>
        <servlet-class>uts.isd.controller.DeleteOrderItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteOrderItemController</servlet-name>
        <url-pattern>/DeleteOrderItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccessController</servlet-name>
        <servlet-class>uts.isd.controller.AccessController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccessServlet</servlet-name>
        <url-pattern>/AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccessSearch</servlet-name>
        <servlet-class>uts.isd.controller.AccessSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccessSearch</servlet-name>
        <url-pattern>/AccessSearch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>uts.isd.controller.ProductListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/ProductListController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>uts.isd.controller.AddProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>uts.isd.controller.EditProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/EditProductController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>uts.isd.controller.UpdateProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteShippingController</servlet-name>
        <url-pattern>/DeleteShippingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentSearchController</servlet-name>
        <url-pattern>/PaymentSearchController</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>ShipmentServlet</servlet-name>
        <url-pattern>/ShipmentServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>UpdatePayment</servlet-name>
        <url-pattern>/UpdatePayment</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AddCartServlet</servlet-name>
        <url-pattern>/AddCartServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>uts.isd.controller.CheckoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
